<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Analytics Page</title>
  </head>
  <body>
    <h1>Analytics Page</h1>
    <% if (candidates.length === 0) { %>
      <p>No data to display.</p>
    <% } else { %>
      <table>
        <thead>
          <tr>
            <th>Candidate</th>
            <th>Votes Count</th>
          </tr>
        </thead>
        <tbody>
          <% candidates.forEach(candidate => { %>
            <tr>
              <td><%= candidate.name %></td>
              <td><%= candidate.votes_count %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </body>
</html>
